################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StonePaperScissor/obj
/StonePaperScissor/.vs/StonePaperScissor
/StonePaperScissorRun/.vs/StonePaperScissorRun
/StonePaperScissorRun/obj
